/* Default Stylesheet */

/** BODY ELEMENTS **/
body {
    padding: 0 5%;
    font-size: .75em;
    text-align: center;
}






/** MAIN CONTAINERS **/
div#container {
    width: 700px;
    margin: 0 auto;
    text-align: left;
}
body.fullwidth div#container { width: 100%; }
div#header {

}
div#header-in {

}
div#content-wrap {

}
div.content {
    width: 660px;
}
div.rlcol div.content 	{ margin: 0 210px; }			/* three column */
div.content-in {

}
div.column {
    width: 200px;
}
div.rlcol div.cleft 	{
    float: left; }				/* three column left */
div.rlcol div.cright 	{ 
    float: right;
    width: 360px;
}				/* three column right */
div.column-in {

}
div#footer {

}
div#footer-in {

}






/** SUB CONTAINERS **/
* { }






/** LISTS **/
* { }






/** TYPOGRAPHY **/
* { }






/** FORMS **/
* { }






/** END **/