/* Default Stylesheet */

/** BODY ELEMENTS **/
body {
    font-size: .75em;
    text-align: center;
}

/** MAIN CONTAINERS **/
div#container {
    width: 85%;
    margin: 0 auto;
    text-align: left;
}
/* left column */
div.lcol div.content {
    margin: 0 0 0 210px;
}		

div.clear{
    text-align: center;
}

div.column {
    width: 200px;
}
/* left column */
div.lcol div.column {
    float: left;
}				

